/* Color Palette */
:root {
    --dark-blue: #16697B;
    --med-blue: #489EB5;
    --light-blue: #82C0CB;
    --near-white: #ECE7E3;
    --yellow: #FFA62B;
}


body {
    background-color: var(--light-blue);
}

.sidenav {
    background-color: var(--med-blue);
}

.sidenav a {
    color: var(--near-white);
}

.sidenav a:hover {
    color: var(--yellow);
}

.sidenav button {
    color: var(--near-white); /* Default text color */
    display: block;
    width: 100%;
    background: none; /* Remove default button background */
    border: none; /* Remove default border */
    padding: 12px 32px; /* Add padding */
    font-size: 18px; /* Font size */
    text-align: left; /* Align text to the left */
    cursor: pointer; /* Change cursor to pointer */
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
}

.sidenav button:hover {
    color: var(--yellow) !important; /* Change text color on hover */
    background-color: rgba(18, 82, 112, 0.2); /* Add background color on hover */
}

.main {
    background-color: var(--near-white);
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

footer {
    background-color: var(--dark-blue);
    color: var(--near-white);
}

.footer a {
    color: var(--near-white);
}

.footer a:hover {
    color: var(--yellow);
}


.btn-custom {
    background-color: var(--yellow) !important; /* Custom button background */
    border-color: var(--yellow) !important; /* Custom button border */
}

.btn-custom:hover {
    background-color: var(--light-blue) !important; /* Button hover color */
}

.text-custom {
    color: var(--dark-blue) !important; /* Override Bootstrap's text color */
}

.icon{
    max-width: 50px;
}

#hero {
    position: relative; /* Set hero to relative positioning */
    overflow: hidden;
}

#hero-img {
    width: 100%;
    height: auto; /* Responsive image */
}

#hero-msg {
    position: absolute; /* Keep position absolute */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning */
    color: #fff; /* Text color */
    text-align: center; /* Center text */
    z-index: 2; /* Ensure text is above the image */
    background-color: rgba(22, 105, 123, 0.7); /* Dark blue with transparency */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    max-width: 80%; /* Optional: limit the width of the text box */
}

.button-box {
    position: absolute; /* Position button box absolutely */
    bottom: 80px; /* Position it towards the bottom */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust the positioning */
    z-index: 2; /* Ensure button is above the image */
}
