        /* Color Palette */
        :root {
          --dark-blue: #16697B;
          --med-blue: #489EB5;
          --light-blue: #82C0CB;
          --near-white: #ECE7E3;
          --yellow: #FFA62B;
      }

      /* Customizing Bootstrap colors */
      body {
          background-color: var(--near-white); /* Set body background color */
      }

      .bg-custom {
          background-color: var(--med-blue) !important; /* Override Bootstrap's background color */
      }

      .text-custom {
          color: var(--dark-blue) !important; /* Override Bootstrap's text color */
      }

      .btn-custom {
          background-color: var(--yellow) !important; /* Custom button background */
          border-color: var(--yellow) !important; /* Custom button border */
      }

      .btn-custom:hover {
          background-color: var(--light-blue) !important; /* Button hover color */
      }

      .nav-link {
          color: var(--near-white) !important; /* Custom nav link color */
      }

      .nav-link:hover {
          color: var(--yellow) !important; /* Nav link hover color */
      }